body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("../Assets/image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #333;
}

#agentForm {
    margin-top: 20px;
}


button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

li:hover {
    background-color: #f0f0f0;
}

input[type="text"],[type="email"]{
    background-color: rgb(205, 244, 244);
    width: 250px;
    padding: 14px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border-radius: 12px;
}


input[type="submit"]{
    background-color: rgb(80, 91, 91);
    color: white;
    font-weight: bold;
    width: 170px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
}

input:hover{
    background-color: rgb(161, 195, 195);
}

input[type="submit"]:hover{
    background-color: black;
    color:white;
}

