body{
    background-image: url("../Assets/image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
    font-family: Arial, Helvetica, sans-serif
}
.div1{
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    height: 110px;
    padding: 10px;
}

.h3{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.para1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#para2, #para3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.reset{
    width: 50%;
    text-align: center;
    margin: 20px;
    padding: 24px;
    border: 0.2px;
    border-radius: 40px;
    background-color: rgb(232, 221, 221);
}

.signIn > div{
    padding: 12px;
}

.email, .otp, .pw{
    width: 500px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(190, 208, 227);
    border: 2px solid black;
    border-radius: 16px;
    height: 55px;
    padding-left: 20px;
}

.email:hover, .otp:hover, .pw:hover{
    background-color: rgb(134, 182, 235);
}

.btn1, .submit{
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 16px;
    background-color: rgb(180, 204, 229);
}

.submit{
    background-color: rgb(169, 239, 220);
}
.submit:hover{
    background-color: rgb(67, 110, 98);
    color: white;
}

.label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form.div2{
    align-items: center;
    width: 500px;
    height: 60px;
    border: 1px;
    border-radius: 2px;
}

input{
    width: 25px;
    height: 25px;
    text-align: center;
}

.btn2{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn2:active{
    background-color: black;
}